.productoList{
    flex: 4;
}
.productoContenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.productoAddBoton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.productoListItem{
    display: flex;
    align-items: center;
}
.productoListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productoListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.productoListDelete{
    color: red;
    cursor: pointer;
}